<!doctype html>
<html lang = en>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>TE VENDO LA MOTO</title> 


</head>


<body bgcolor="#778899">
<font size="6" color="#df7644" face="Tahoma">
</font>
<div style="width: 800px; height: 50px;">
 <h1><font size = 9 color="#87CEFA" face="Candara"> TE VENDO LA MOTO</font></h1>
 </div>
<br>
	
	<p><font size = 8 color="#000000">Bienvenido </font> </p>
	<img alt="moto" src="moto1.jpg" height="300px" width="400px" >
	<br>
	<br>
	
	<a href="/">Volver al tablon</a>
</body>

</html>
