 <!doctype html>
 <html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>TE VENDO LA MOTO</title></head>

<body bgcolor="#778899">
<font size="6" color="#df7644" face="Tahoma">
</font>
<div style="width: 400px; height: 50px;">
 Te Vendo La Moto
</div>


<div style="width:1000px; padding:3px;">
{{#user}}
<div style="width:245px; background:#FFCC00; float:left;"><a href="nuevoAnuncio.html">NUEVO ANUNCIO</a></div>
<div style="width:245px; background:#CCFF66; float:left;"><a href="ver_ofertas">MIS OFERTAS</a></div>
{{/user}}
<div style="width:245px; background:#CA2BDA; float:left;"><a href="nuevoUsuario">REGISTRARME</a></div>
<div style="width:245px; background:#CA2BDA; float:left;"><a href="login.html">IDENTIFICARME</a></div>

<br><br>
</div> 

{{#anuncios}}
<div style="color: blue;">	
	<a href="anuncio/{{id}}">{{nombre}} {{asunto}}</a><br>
</div>
{{/anuncios}} 
 <br><br><br>
 	{{#admin}}
	<a href="/admin">Admin Page</a>
	{{/admin}}
<br><br>
	
	<form action="/logout" method="post">
		<input type="submit" value="Sign Out" />
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>
	
	
</body></html>